:root {
    /* --primary-color: #d98e00; */
    --primary-color: #D65824;
    --secondary-color: #E9F994;
    /* --secondary-color: #a5bf39; */
    --tertiary-color: #843522;
    --quad-color: #8EC176;
    --sexp-color: #000;
}

* {
    margin:0;
    padding:0;
    box-sizing:0;
}

body {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start Header */
header {
    padding: 20px 35px;
    background-color: var(--sexp-color);
    background-image: url("../images/desert_background_header.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9998;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 3px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0.5);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.2em;
    color: var(--primary-color);
}

header nav ul li {
    padding: 10px;
}

header ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: (--secondary-color);
    padding: 10px;
    border-radius: 5px;
}

header ul li a:hover {
    color: whitesmoke;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
}
/*End Header*/

/*Begin Hero*/
.hero {
    background-image: url("../images/desert_background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    position: relative;
    background-position:80%;
    min-height: 300px;
    z-index: 9997;
    -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    position: relative;
}

.hero #tag-line {
    width: 100%;
    margin: 3.5%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.media{
    display: none;
    visibility:hidden;
}

.hero #tag-line h2 {
    text-align: right;
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-style: italic;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
}
/*Main section begin */
main {
    background-color: var(--secondary-color);
    position: relative;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 5em 5em 1em 5em;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.49);
}

main h2 {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 5px;
}

main hr {
    height: 1px;
    background-color: var(--primary-color);
    border: none;
    width: 20em;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

main h3 {
    color: var(--sexp-color);
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    font-size: 25px;
    font-weight: 600px;
}

#about {
    scroll-margin-top: 4.5em;
}

.aboutme {
    flex: 2 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 1em;
    justify-content: center;
}

.aboutimg {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutimg img {
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 25%;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    margin-right: 1.2em; 
    margin-bottom: 1.2em;
}

.metext {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    padding-left: 2em;
}

.metext p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    line-height:1.5em;
    letter-spacing: .02em;
    margin-top: .5em ;
    margin-bottom: .5em ;
}

#mywork {
    scroll-margin-top: 4.5em;
}

.work-grid-container {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    /* height: 100vh; */
    grid-template-columns: auto auto auto;
    grid-template-areas:
        "work-grid-item--1 work-grid-item--2 work-grid-item--3"
        "work-grid-item--4 work-grid-item--5 work-grid-item--6"
        "work-grid-item--7 work-grid-item--8 work-grid-item--9";
    grid-gap: 0px;
    text-align: center;
    -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    text-align: center;
}

.work-grid-item {
    background-color: var(--primary-color);
    border: 1px solid #000;
    color: var(--tertiary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #work-grid-item--1 {
    grid-area: work-grid-item--1;
    object-fit: cover;
  }

  #work-grid-item--2 {
    grid-area: work-grid-item--2;
  }

  #work-grid-item--3 {
    grid-area: work-grid-item--3;
  }

  #work-grid-item--4 {
    grid-area: work-grid-item--4;
  }

  #work-grid-item--5 {
    grid-area: work-grid-item--5;
  }

  #work-grid-item--6 {
    grid-area: work-grid-item--6;
  }

  #work-grid-item--7 {
    grid-area: work-grid-item--7;
  }
  #work-grid-item--8 {
    grid-area: work-grid-item--8;
  }

  #work-grid-item--9 {
    grid-area: work-grid-item--9;
  }



.work-img {
    width: 100%;
    height: 100%;
}



/* Begin Animation */

.ani-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
.ani-image {
    opacity:1;
    display: block;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
.middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
.ani-container:hover .ani-image {
    opacity: 0.4;
  }
  
.ani-container:hover .middle {
    opacity: 1;
    background-color: var(--primary-color);
  }

.ani-container a {
    text-decoration:none;
  }
  
.ani-text {
    background-color: var(--quad-color);
    color: whitesmoke;
    font-size: 18px;
    padding: 10px 5px;
    width: 150px;
    height: 100px;
    -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    cursor:pointer;
  }


.ani-mini-text {
    font-size: 14px;
  }
/* End Animation */ 
/* Modal */
/* .button{
    background-color: var(--primary-color);
    padding: 1em 2em;
    color: #fff;
    border: 0;
} */

/* .button:hover {
    background: #333;
} */

.modal {
    display:none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    font-size: 17px;
    line-height: 1.6;
    width: 70%;
    max-width: 500px;
    text-align: left;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),  0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name:modalOpen;
    animation-duration:1s;
}

.modal-header{
    background-color: var(--primary-color);
    padding: 15px;
    color: white;
}

.modal-header h2 {
    color: white;
    margin: 0;
}

.modal-footer h4 {
    margin: 0;
    color:#fff;
}

.modal-footer {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
}

.modal-body {
    padding:10px 20px;
    border-radius: 5px;
}

.closeBtn {
    color: #fff;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor:pointer;
}

@keyframes modalOpen {
    from{opacity:0}
    to{opacity:1}
}

/*End Modal*/


/* End main */
/*Begin Footer*/
main footer  {
    margin: 2.5em 0;
    width: auto;
}

.tel {
    margin-bottom: 1em;
}

main footer a {
    text-decoration: none;
    color: var(--tertiary-color);
    font-weight: bold;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 5px;

}

main footer a:hover {
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--primary-color);
    -webkit-box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.25);

}

main footer  ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    color: var(--tertiary-color);
    width: inherit;
    justify-content: space-between;
    align-items: center;
}

main footer ul li {

    padding: 2em 2em 0px 2em;
}

.copy {
    text-align:center;
    color: whitesmoke;
}
/*End Footer*/
/*Media queries for phones and larger*/
@media screen and (max-width: 767px)  {

    body {
        background-color: var(--secondary-color);
    }

header {
    display: block;
    padding-bottom: 0;
    position: relative;
    -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
    top: 0;
    z-index: 9998;
    }
            
h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    color: var(--secondary-color);
    }
            
header li {
    text-align: center;
    display: inline-block;
    width: 100%;
    justify-content: center;
     }

header ul li a {
    font-size: 30px;
    background-color: var(--tertiary-color);
    padding: .2em;
    -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.25);
    }

.ghost{
    display: none;
    visibility:hidden;
    }

h1 {
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
    letter-spacing: 3px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0.5);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: block;
    font-size: 1.2em;
    color: var(--primary-color);
}
#about {
    scroll-margin-top: 14em;
}
    
.hero {
    visibility:hidden;
    display: none;
     }

.media {

    display: block;
    visibility:visible;
    text-align: center;
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 1.0;
    letter-spacing: 1px;
    font-style: italic;
    padding: 2em 0;
    }

.hero #tag-line h2 {
    visibility:hidden;
     display: none;
    }
        
main {
    padding: 2em .1em 0em .1em;
    background-color: var(--secondary-color);
    -webkit-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0);
    }
                
.aboutimg img {
    display: block;
    width: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
    }
    
.metext {
    font-size: 18px;
    width: 100%;
    text-align: left;
    padding-left: 0em;
    }
    
    .work-grid-container {
        grid-column: 1;
        grid-template-columns: auto ;
        grid-template-areas:
            "work-grid-item--1"
            "work-grid-item--4"
            "work-grid-item--2" 
            "work-grid-item--3"
            "work-grid-item--4"
            "work-grid-item--5"
            "work-grid-item--6"
            "work-grid-item--7"
            "work-grid-item--8"
            "work-grid-item--9"           
            ;
    }

    .work-grid-item {
        background-color: var(--primary-color);
        border: 1px solid #000;
        color: var(--tertiary-color);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    
      #work-grid-item--1 {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
      }
    
      #work-grid-item--2 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
      }
    
      #work-grid-item--3 {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
      }
    
      #work-grid-item--4 {
        grid-row-start: 4;
        grid-row-end: 4;
        grid-column-start: 1;
      }
    
      #work-grid-item--5 {
        grid-row-start: 5;
        grid-row-end: 5;
        grid-column-start: 1;
      }
    
      #work-grid-item--6 {
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
      }
    
      #work-grid-item--7 {
        grid-row-start: 7;
        grid-row-end: 7;
        grid-column-start: 1;
      }
      #work-grid-item--8 {
        grid-row-start: 8;
        grid-row-end: 8;
        grid-column-start: 1;
      }
    
      #work-grid-item--9 {
        grid-row-start: 9;
        grid-row-end: 9;
        grid-column-start: 1;
      }



.ani-container .ani-image {
    opacity: 0.3;
    }
    
.ani-container .middle {
    opacity: 1;
    }


main footer  {
    margin: 20px 0 10px 0;
    text-align:center;
    justify-content: center;
    }
                
main footer ul {
    width:100%;
    text-align:center;
    justify-content: center;
    }
                
main footer ul li {
    font-size: 1.2em;
    padding: 0em 0em 0em 0em;
    width: 100%;
    } 

.copy {
    margin: 0;
    padding: 0;
    color: #000;
    }
}


